
#bgeffect{
    width: 100%;
    transition: all .5s;
    background-color: rgba(0, 0, 0, 0.449);
}
#cf{
    transition: all .5s; 
}
#bf{
    transition: all .5s; 
   /* color: #dddfdf; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;

}
#bf:hover #cf{
  transform: scale(1.2);
}
#bgeffect:hover{
    background-image:red;
    background-color: rgba(6, 14, 14, 0.144);
    /* color: aqua; */
}